@import url("https://fonts.googleapis.com/css2?family=Glory&display=swap");
:root {
  --dark: #181818;
  --light: #ffffffef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: var(--dark);
  font-family: "Glory", sans-serif;
  position: relative;
  /* border: solid 2px orange; */
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  /* border: solid 2px orange; */
}
nav {
  background: var(--dark);
  color: var(--light);
  padding: 0.5rem;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* border: solid 2px red; */
}
footer {
  background: var(--dark);
  color: var(--light);
  padding: 0.7rem;
  font-size: 0.7rem;
  position: fixed;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3rem;
  z-index: 10;
  /* opacity: 0.3; */
  /* border: solid 2px red; */
}
footer a {
  text-decoration: none;
  color: var(--light);
}
h1 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 10;
}
.question {
  /*   border: 2px solid orange; */
  position: absolute;
  top: 3rem;
  left: 0;
  padding: 1rem;
  width: 100vw;
  font-size: 1.2rem;
  z-index: 10;
  /* background-image: linear-gradient(to bottom, #ffffff40, #ffffff20); */
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0.3),
    rgb(0, 0, 0, 0.1)
  );
  backdrop-filter: blur(0.2rem);
}
main svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-height: 55vh;
  padding: 0.5rem;
  z-index: 10;
  -webkit-filter: drop-shadow(8px 5px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(8px 5px 2px rgba(0, 0, 0, 0.7));
}
.button {
  /*   border: 2px solid blue; */
  text-transform: uppercase;
  padding: 0.5rem 0.5rem;
  background: var(--dark);
  color: var(--light);
  border-radius: 5px;
  font-family: "Glory", sans-serif;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  transition: ease-out 0.2s;
  z-index: 10;
}
/* .button:hover {
  transform: scale(1.1);
} */
#color1,
#color2 {
  fill: white;
}

@media screen and (min-width: 600px) {
  .button {
    font-size: 2.5rem;
  }
  .question {
    font-size: 1.5rem;
  }
  .footer {
    font-size: 1.2rem;
  }
}
